<div style="color:#FFF">
  <%= form_tag ('/login') %>
    <%= label_tag 'username', 'Username' %>
    <%= text_field_tag 'username' %>

    <%= label_tag 'password', 'Password' %>
    <%= password_field_tag 'password' %>


    <%= submit_tag "Login", :style => "background: rgba(0,0,0,0)" %>
    <%==sign_up%>

</div>

<section class="about">
    At an event and want to know how people are feeling about it? Want to know if world events have affected peoples moods?... Feel allows users to define the location and area of interest and get the twitter mood of the area.
</section>