%div.users
  %table
    - @users.each do |user|
      %tr
        %td= user.username
        %td= image_tag(user.avatar) if user.avatar
        %td
          - user.locations.each do |location|
            %ul
              %li= location.place
        %td= link_to('Edit', edit_user_path(user))
        %td= link_to('| Delete', user, :data =>{:confirm=>'Are you sure you want to do delete this user?',:method => :delete })

