
<div class="results">
<h2><%= @location.place %> | <%= @location.radius %> km </h2>
<%= time_tag(@time) %>
<%  bubble = 0 %>
<% @moods.each do |mood| %>
<%  bubble += 1%>
  <div class="bubble no<%=bubble %>">
  <span><%= mood.count %><span> <span style="font-size:0.2em; line_height: 0.4em">people are</span>
    <h3><span style="font-size:0.2em; line-height:0.4em">feeling</span><%= mood.mood %></h3>

  </div>
<% end %>
</div>
<div id="showform">
  <%= render :partial => 'form'%>
</div>
