<h2><%= @location.place %></h2>
<%= time_tag(@time) %>
<div class="results">
<%  bubble = 0 %>
<% @moods.each do |mood| %>
<%  bubble += 1%>
  <div class="bubble no<%=bubble %>">
    <h3><span style="font-size:0.2em">feeling </span><%= mood.mood %></h3>
    <span><%= mood.count %><span> <span style="font-size:0.2em">people are</span>
  </div>
<% end %>
</div>
