<!DOCTYPE html>
<html>
<head>
  <title>Feel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
  <body style="background-image:url(<%= "http://payload267.cargocollective.com/1/14/450171/7641443/20130318-DSC_4113-Edit_o.jpg" if ((params[:controller] == "session" && params[:action] == "new") || (params[:controller] == "users" && params[:action] == "new"))%> );" >
    <section class="container">
      <header style="background:<%= "#FFF" if ((params[:controller] != "session" && params[:action] != "new") || (params[:controller] != "users" && params[:action] != "new"))%>;">
      <nav class="left">
        <%== smartnav_left %>
      </nav>
      <h1><a href="/" style="color:<%= "#FFF" if ((params[:controller] == "session" && params[:action] == "new") || (params[:controller] == "users" && params[:action] == "new"))%>;">feel</a></h1>
        <nav class="right">
          <ul>
             <%== smartnav_right %>
          </ul>
        </nav>
      </header>


      <section class="content">

      <%= yield %>
      <% if flash[:notice].present? %>
          <div class= "notice">
            <%= flash[:notice] %>
          </div>
      <% end %>
      </section>
    </section>

    <footer style="background:<%= "#FFF" if ((params[:controller] != "session" && params[:action] != "new") || (params[:controller] != "users" && params[:action] != "new"))%>;">
      &copy Rosalind Skinner | GA | wdi5
    </footer>
  </body>
</html>
